* {
  margin: 0;
  padding: 0;
}
header{
	/*height: 10em;*/
	/*background-image: url(../media/heder/Header.png);*/
	width: 100%;
	display: block;
}
html{
height:100%;
}

body{
min-height:100%;
position:relative;
}

.content {
padding-bottom:3em;
}

.footer{
height:3em;
position:absolute;
background-color: #303030;
bottom:0;
left:0;
right:0;
width: 100%;
color: white;
padding-top: 0.8em;
}

form{
	float: center;
	padding-top: 2em;
	padding-left: 40%;
}

.btn{
	background-color: #282828;
	color: white;
	height: 2em;
	width: 6.1em;
	text-align: center;
	float: center;
	padding-top:0.2em;
}

.btn:hover{
	color:white;
	background-color: #505050;
}

.navbar{
	width: 100%;
	margin: 0;
}

.row{
	width: 100%;
	margin: 0;
}

.menu{
	width: 100%;
}

.nav{
	width: 100%;
	margin: 0;
}

.container{
	width: 100%;
	margin: 0;
}

.navbar-header{
	height: 0;
	width: 100%;
	margin:0;
	padding: 0;
}

.content{
	display: inline-block;
	min-height: 31em;
	max-height: 100%;
	width: 100%;
}

li.login{/* nie wiem czy to dawac - w responsywnym zle wyglada*/
	float: right;
	margin-right:0;
}

.wrapper img{
	max-width: 100%;
}

a:hover{
	text-decoration: none;
}

hr.line1{
	width: 10em;
	padding-left: 2.5em;
	color: #303030;
	background-color: #303030;
	height: 0.1em;
}

.loginpanel{
	margin-bottom: 6em;
}

.left-menu{
	display: inline-block;
	min-height: 60em;
	max-height: 100%;
	width: 15em;
	max-width: 15em;
	margin-left: 0; 
	position:absolute;
	background-color: #303030;
}

.left-menu h4{
	color: white;
	padding-left: 2em;
}

.left-menu ul{
	width: 13em;
	max-width: 13em;
	padding-left: 1em;
}

.left-menu button{
	margin-left: 1em;
}

.codeplace{
		display: inline-block;
		min-width: 81.2em;
		max-width: 81.2em;
		min-height: 60em;
		max-height: 100%;
		background-color: #484848;
		margin:0;
		margin-left: 15.09em;
		border: 0;
}

.codeplace textarea{
	min-width: 40em;
	max-width: 80.9em;
	min-height: 50em;
	max-height: 51em;
}

.projects-table{
	display: inline-block;
	background-color: #505050;
	width: 100%;
	height: 100%
	}

.form-control{
	width: 12.4em;
}